<!DOCTYPE html>
<html>
<head>
	<title>Dojos Form</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_stylesheet.css') }}"/>
</head>
<body>
	<h1>Please fill out the Form below:</h1>
	<form>
		First Name:<input type="text" name="frist_name">
		Last Name:<input type="text" name="last_name">
		<p>Do you have coding experience?</p>
		Yes:<input type="radio" name="data1">
		No:<input type="radio" name="data2">
		<input type="sumbit" name="submit">
	</form>
</body>
</html>